.hero {
  padding-top: 3rem;
  padding-bottom: 7.0625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg-color);
  position: relative;
}
.hero__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  padding-bottom: 5.625rem;
  position: relative;
}
.hero__info {
  margin-right: 6rem;
}
.hero__images {
  overflow-y: scroll;
  min-width: 667px;
  max-height: 736px;
  -ms-overflow-style: none;
}
.hero__images::-webkit-scrollbar {
  display: none;
}
.hero__images-container {
  height: max-content;
  height: max-content;
}
.hero__image-card {
  width: 100%;
  height: 100%;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero__indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pointer {
  transition: all 0.5s ease-in-out;
  width: 16px;
  height: 1px;
  background: -moz-linear-gradient(
    0deg,
    rgba(220, 202, 135, 0.15) 0%,
    rgba(220, 202, 135, 0.55) 25%,
    rgba(220, 202, 135, 0.55) 75%,
    rgba(220, 202, 135, 0.15) 100%
  );
  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    0deg,
    rgba(220, 202, 135, 0.15) 0%,
    rgba(220, 202, 135, 0.55) 25%,
    rgba(220, 202, 135, 0.55) 75%,
    rgba(220, 202, 135, 0.15) 100%
  );
  /* opera 11.10+ */
  background: -o-linear-gradient(
    0deg,
    rgba(220, 202, 135, 0.15) 0%,
    rgba(220, 202, 135, 0.55) 25%,
    rgba(220, 202, 135, 0.55) 75%,
    rgba(220, 202, 135, 0.15) 100%
  );
  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0 );
  /* ie 10+ */
  background: -ms-linear-gradient(
    0deg,
    rgba(220, 202, 135, 0.15) 0%,
    rgba(220, 202, 135, 0.55) 25%,
    rgba(220, 202, 135, 0.55) 75%,
    rgba(220, 202, 135, 0.15) 100%
  );
  /* global 94%+ browsers support */
  background: linear-gradient(
    0deg,
    rgba(220, 202, 135, 0.15) 0%,
    rgba(220, 202, 135, 0.55) 25%,
    rgba(220, 202, 135, 0.55) 75%,
    rgba(220, 202, 135, 0.15) 100%
  );
}
.pointer_horizontal {
  width: 1px;
  height: 61px;
  margin-bottom: 1.5rem;
}
.hero__indicator {
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  transition: all 0.5s ease-in-out;
  color: var(--accent-color-light);
  cursor: pointer;
}
.hero__indicator:hover {
  color: var(--primary-color-darker);
}
.hero__scroll-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -3rem;
  bottom: 0rem;
  height: auto;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.hero__scroll-text {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.hero__scroll-button:hover .pointer {
  background: -moz-linear-gradient(
    0deg,
    rgba(170, 170, 170, 0.15) 0%,
    rgba(170, 170, 170, 0.55) 25%,
    rgba(170, 170, 170, 0.55) 75%,
    rgba(170, 170, 170, 0.15) 100%
  );
  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    0deg,
    rgba(170, 170, 170, 0.15) 0%,
    rgba(170, 170, 170, 0.55) 25%,
    rgba(170, 170, 170, 0.55) 75%,
    rgba(170, 170, 170, 0.15) 100%
  );
  /* opera 11.10+ */
  background: -o-linear-gradient(
    0deg,
    rgba(170, 170, 170, 0.15) 0%,
    rgba(170, 170, 170, 0.55) 25%,
    rgba(170, 170, 170, 0.55) 75%,
    rgba(170, 170, 170, 0.15) 100%
  );
  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0 );
  /* ie 10+ */
  background: -ms-linear-gradient(
    0deg,
    rgba(170, 170, 170, 0.15) 0%,
    rgba(170, 170, 170, 0.55) 25%,
    rgba(170, 170, 170, 0.55) 75%,
    rgba(170, 170, 170, 0.15) 100%
  );
  /* global 94%+ browsers support */
  background: linear-gradient(
    0deg,
    rgba(170, 170, 170, 0.15) 0%,
    rgba(170, 170, 170, 0.55) 25%,
    rgba(170, 170, 170, 0.55) 75%,
    rgba(170, 170, 170, 0.15) 100%
  );
}
.hero__scroll-button:hover .hero__scroll-text {
  color: var(--primary-color-darker);
}

.hero__side-links {
  list-style: none;
  position: absolute;
  top: 50%;
  left: -156px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  transform-origin: 0;
  transform: translateY(-50%) rotate(-90deg);
}
.hero__side-links {
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero__side-link {
  color: var(--primary-color);
  transition: all 0.5s ease-in-out;
}
.hero__side-link:hover {
  color: var(--primary-color-darker);
}
.hero__side-item:last-of-type {
  margin-right: 40px;
}

@media screen and (max-width: 1536px) {
  .hero__scroll-button {
    right: 1rem;
  }
  .hero__side-links {
    left: -32px;
  }
}
@media screen and (max-width: 1280px) {
  .hero__inner {
    flex-direction: column;
  }
  .hero__info {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }
  .hero__indicators {
    bottom: -2rem;
  }
  .hero__scroll-button {
    right: 0.3rem;
    bottom: -2rem;
  }
  .hero .description {
    text-align: center;
    max-width: 480px;
  }
  .hero .title {
    text-align: center;
  }
  .hero .subtitle {
    align-items: center;
  }
  .hero__side-links {
    left: -48px;
  }
}
@media screen and (max-width: 900px) {
  .hero__images {
    min-width: auto;
    max-height: 700px;
    padding: 0 2rem;
  }
  .hero__side-links {
    top: auto;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  .hero__side-item:last-of-type {
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .hero__images {
    max-height: 438px;
  }
}
@media screen and (max-width: 425px) {
  .hero__images {
    max-height: 376px;
  }
  .hero .description {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 425px) {
}
