.hero {
  height: 100vh;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.hero__inner {
  /* border: 1px dotted green; */
  max-width: 1680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 11.8rem;
  padding-right: 11.8rem;
}
.hero__info {
  /* border: 1px dotted green; */
  min-width: 460px;
}
.hero__images {
  /* border: 1px dotted white; */
  margin-left: 8rem;
  height: 736px;
}
.hero__images-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.hero__images-container::-webkit-scrollbar {
  display: none;
}
.hero__image-card {
  /* border: 1px dotted red; */
  min-width: 667px;
  height: 736px;
}
.hero__image {
  /* border: 1px dotted green; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.hero__image-card:hover .hero__image {
  opacity: 0.85;
}
