.bite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  position: absolute;
  width: 146px;
  height: 146px;
}
.bite__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top-right {
  top: 0.9375rem;
  right: 9.4375rem;
}
.top-left {
  top: 0.9375rem;
  left: 9.4375rem;
}
.top-left-2 {
  top: 9.1875rem;
  left: 12.3125rem;
}

@media screen and (max-width: 1536px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 900px) {
  .top-right {
    top: -4.5625rem;
    right: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .bite {
    display: none;
  }
}
