.chef {
  padding: 8rem 19.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chef__image-wrapper {
  /* border: 1px solid green; */
  min-width: 634px;
  height: 789px;
}
.chef__image {
  /* border: 1px solid blue; */
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chef__content {
  /* border: 1px solid green; */
  margin-left: 3rem;
}
.chef__quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.chef__quote-image {
  width: 47px;
  height: 40px;
}
.chef__quote-text {
  margin-left: 0.625rem;
  font-family: var(--font-alt);
  font-style: italic;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: var(--primary-color-darker);
}
.chef__signature {
  margin-bottom: 6.25rem;
}
.chef__signature-name {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
}
.chef__signature-job-position {
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: var(--primary-color-darker);
}
.chef__picture {
  width: 235px;
  height: 83px;
}
@media screen and (max-width: 1600px) {
  .chef__image-wrapper {
    min-width: 480px;
    height: auto;
  }
  .chef {
    padding: 2rem 8rem;
  }
}
@media screen and (max-width: 1536px) {
  .chef {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 1280px) {
  .chef {
    padding: 2rem 1rem;
    flex-direction: column-reverse;
  }
  .chef__content {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 603px;
    margin-bottom: 4rem;
  }
  .chef__signature {
    margin-bottom: 3rem;
  }
  .chef__image-wrapper {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .chef__image-wrapper {
    min-width: auto;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 375px) {
}
