.curve {
  position: absolute;
}
.curve_left-home {
  width: 1607.91px;
  height: 10691.5px;
  left: 85px;
  top: 650px;
}
.curve_right-home {
  width: 2228px;
  height: 14908px;
  left: 65px;
  top: 1110.5px;
}
