.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}
.subtitle__text {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}
