.gallery {
  padding: 8rem 0 8rem 19.375rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.gallery__content {
  flex-grow: 1;
  min-width: 491px;
  margin-right: 4rem;
}
.gallery__outer {
  position: relative;
  flex-grow: 1;
  max-width: 50%;
  overflow: hidden;
}
.gallery__images {
  overflow-x: scroll;
  -ms-overflow-style: none;
}
.gallery__images::-webkit-scrollbar {
  display: none;
}
.gallery__images-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
}
.gallery__image-card {
  width: 301px;
  height: 447px;
  margin-right: 2rem;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.gallery__image-card:last-of-type {
  margin-right: 0;
}
.gallery__image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery__image-card:hover {
  opacity: 0.4;
  /* background: linear-gradient(207.55deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%); */
}

.gallery__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
  opacity: 0;
  color: var(--primary-color);
  transition: all 0.5s ease-in-out;
}
.gallery__image-card:hover .gallery__icon {
  visibility: visible;
  opacity: 1;
}
.gallery__scroll-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  bottom: 0;
}
.gallery__arrow-left,
.gallery__arrow-right {
  font-size: 32px;
  cursor: pointer;
  background-color: var(--dark-color);
  color: var(--accent-color);
  cursor: pointer;
  border-radius: 0.3rem;
}

@media screen and (max-width: 1536px) {
}
@media screen and (max-width: 1280px) {
  .gallery {
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
  }
  .gallery__content {
    margin-right: 0;
    min-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin-bottom: 2rem;
  }
  .gallery__content .subtitle {
    justify-content: center;
    align-items: center;
  }
  .gallery__outer {
    max-width: max-content;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 375px) {
}
