.laurels {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
}
.laurels__inner {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.laurels__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin-right: 111px;
}
.laurel__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.laurel__item:nth-child(1),
.laurel__item:nth-child(2) {
  margin-bottom: 64px;
}
/* .laurels__content {
}
.laurels__image {
} */
.laurel__image-wrapper {
  min-width: 79px;
  min-height: 79px;
  margin-right: 32px;
}
.laurel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* .laurels__image-wrapper {
} */
.laurels__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
