.page {
  position: relative;
  overflow: hidden;
}
.background_marble {
  background-image: url(./assets/images/background_marble.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.background_marble_scroll {
  background-image: url(./assets/images/background_marble.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.background_glassful {
  background-image: url(./assets/images/background_menu.png);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1536px) {
}
@media screen and (max-width: 1280px) {
  .curve {
    display: none;
  }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 600px) {
}
