.description {
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: var(--primary-color-darker);
}
.description_font-style_italic {
  font-style: italic;
}
.description_align_left-reverse {
  text-align: right;
}
.description_align_left {
  text-align: left;
}
.spoon {
  width: 40px;
  height: 9px;
}
.spoon_direction_right {
  transform: scale(1);
}
.spoon_direction_left {
  transform: scale(-1);
}

.background_marble {
  background-image: url(./assets/images/background_marble.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.background_glassful {
  background-image: url(./assets/images/background_menu.png);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}
.mr_bottom-1 {
  margin-bottom: 1rem;
}
.mr_bottom-15 {
  margin-bottom: 1.5rem;
}
.mr_bottom-2 {
  margin-bottom: 2rem;
}
.mr_bottom-3 {
  margin-bottom: 3rem;
}
.mr_bottom-4 {
  margin-bottom: 4rem;
}
.mr_bottom-05 {
  margin-bottom: 0.5rem;
}
.align_center {
  text-align: center;
}
.flex_center {
  justify-content: center;
  align-items: center;
}
.section_padding {
  padding: 8rem 19.375rem;
}

@media screen and (max-width: 1536px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 600px) {
}
