.title {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--accent-color);
}
.title_header-h1 {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.title_header-h3 {
  font-size: 45px;
  letter-spacing: 0.04em;
  color: var(--primary-color);
}
.title_wrap_no {
  white-space: nowrap;
}
.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.subtitle__text {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--primary-color);
}
.subtitle__spoon {
  width: 40px;
  height: 9px;
}
.description {
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: var(--primary-color-darker);
}
.description_font-style_italic {
  font-style: italic;
}
.description_align_left-reverse {
  text-align: right;
}
.description_align_left {
  text-align: left;
}
.button {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75;
  color: var(--bg-color);
  padding: 0.5rem 2rem;
  letter-spacing: 0.1em;
  background: var(--accent-color);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.button:hover {
  background-color: var(--accent-color-light);
}
.spoon {
  width: 40px;
  height: 9px;
}
.spoon_direction_right {
  transform: scale(1);
}
.spoon_direction_left {
  transform: scale(-1);
}

.background_marble {
  background-image: url(./assets/images/background_marble.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.background_glassful {
  background-image: url(./assets/images/background_menu.png);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}
.mr_bottom-1 {
  margin-bottom: 1rem;
}
.mr_bottom-2 {
  margin-bottom: 2rem;
}
.mr_bottom-3 {
  margin-bottom: 3rem;
}
.mr_bottom-4 {
  margin-bottom: 4rem;
}
.mr_bottom-05 {
  margin-bottom: 0.5rem;
}
.align_center {
  text-align: center;
}
.flex_center {
  justify-content: center;
  align-items: center;
}
.section_padding {
  padding: 8rem 19.375rem;
}

@media screen and (max-width: 1536px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 600px) {
}
