@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  /* fonts */
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  /* colors */
  --priamry-color: #ffffff;
  --primary-color-dark: #fafafa;
  --primary-color-darker: #aaaaaa;
  --accent-color: #dcca87;
  --accent-color-light: #f5efdb;
  --dark-color: #0c0c0c;
  --gray-color: #545454;
  --bg-color: #0c0b08;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--bg-color);
  color: var(--priamry-color);
  font-size: 100%;
  height: 100%;
}

a {
  color: var(--priamry-color);
  text-decoration: none;
}

.border-temporary_dotted {
  border: 1px dotted red;
}
.border-temporary_dashed {
  border: 1px dashed green;
}

.border-temporary_solid {
  border: 1px solid green;
}
