.special {
  padding: 9.5rem 19.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.special .subtitle {
  justify-content: center;
  align-items: center;
}
.special__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.special__wines {
  flex-grow: 1;
}
.special__image {
  width: 412px;
  margin: 0 2rem;
}
.special__image img {
  width: 100%;
  height: auto;
}
.special__coctails {
  flex-grow: 1;
}

@media screen and (max-width: 1536px) {
  .special {
    padding: 4rem 6rem;
  }
  .special__content {
    flex-direction: column;
    align-items: center;
  }
  .special__wines {
    width: 80%;
  }
  .special__coctails {
    width: 80%;
  }
  .special__image {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1280px) {
  .special {
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 600px) {
  .special__image {
    width: 100%;
  }
}
